<form method="post" action="{{ path('app_liste_delete', {'id': liste.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette liste ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste.id) }}">
    <button class="btn btn-danger w-100">Supprimer la liste</button>
</form>