{% extends 'base.html.twig' %}

{% block title %}Edit Liste{% endblock %}

{% block body %}
    <h1 class="mt-4">Modifier la liste</h1>

    {{ include('liste/_form.html.twig', {'button_label': 'Sauvegarder les modifications'}) }}
    <div class="row mt-4">
        <div class="col"><a href="{{ path('app_liste_show', {id: liste.id}) }}"><button class="btn btn-light w-100">Retour à la liste</button></a></div>
        <div class="col">{{ include('liste/_delete_form.html.twig') }}</div> 
    </div>
{% endblock %}
