{% extends 'base.html.twig' %}

{% block title %}Vos listes{% endblock %}

{% block body %}
    <h1 class="mt-4">Accueil</h1>
    <div class="row">
        <h2 class="mt-4 mb-4">Statistiques</h2>
        <div class="col">
            <div class="card border-dark">
                <div class="card-header">Listes</div>
                <div class="card-body">
                    <p class="card-text">Nombre de listes : <span class="badge bg-primary">{{ stats['nbListes'] }}</span></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-dark">
                <div class="card-header">Argent</div>
                <div class="card-body">
                    <p class="card-text">
                        <p>Article le plus cher : <span class="badge bg-danger">{{ stats['artPlusCher'].libelle }} ({{ stats['artPlusCher'].prix }}€)</span></p>
                        <p>Article le moins cher : <span class="badge bg-success">{{ stats['artMoinsCher'].libelle }} ({{ stats['artMoinsCher'].prix }}€)</span></p>
                        <p>Total des sommes des listes : <span class="badge bg-info">{{ stats['totalSommes'] }}€</span></p>  
                        <p>Prix moyen d'une liste  : <span class="badge bg-warning">{{ stats['moySommes'] }}€</span></p>  
                    </p>
                </div>
            </div>            
        </div> 
        <div class="col">
            <div class="card border-dark">
                <div class="card-header">Catégories</div>
                <div class="card-body">
                    <p class="card-text">
                        {% for categorie in categories %}
                            <p>{{categorie.nom}} : <span class="badge bg-dark">{{ stats['repartition'][categorie.nom] }}€</span></p>
                        {% endfor %} 
                    </p>
                </div>
            </div>  
        </div>
    </div>
    <div class="row">
        <h2 class="mt-4">Vos listes</h2>
        <table class="table mt-4 table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Actions</th>
                    <th>Progression</th>
                </tr>
            </thead>
            <tbody>
            {% for liste in listes %}
                <tr>
                    <td>{{ liste.id }}</td>
                    <td>{{ liste.Nom }}</td>
                    <td>
                        <a href="{{ path('app_liste_show', {'id': liste.id}) }}"><button class="btn btn-outline-primary"><i class="fa-solid fa-eye"></i></button></a>
                        <a href="{{ path('app_liste_edit', {'id': liste.id}) }}"><button class="btn btn-outline-warning"><i class="fa-solid fa-pen"></i></button></a>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ tableau[liste.id]["nbValides"] }}" aria-valuemin="0" aria-valuemax="{{ tableau[liste.id]["nbTotal"] }}" style="width: {{ tableau[liste.id]["progression"] }}%;"></div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_liste_new') }}"><button class="btn btn-primary mt-4">Créer une nouvelle liste</button></a>
    </div>
    
{% endblock %}
