{% extends 'base.html.twig' %}

{% block title %}Nouvelle liste{% endblock %}

{% block body %}
    <h1 class="mt-4">Créer une nouvelle liste</h1>
    
    {{ include('liste/_form.html.twig') }}

    <a href="{{ path('liste.index') }}"<button class="btn btn-light mt-4">Retour aux listes</button></a>
{% endblock %}
