{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <h1 class="mt-4">Liste : "{{ liste.Nom }}"</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-10">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ nbValides }}" aria-valuemin="0" aria-valuemax="{{ nbTotal }}" style="width: {{ pourcentage }}%;"></div>
        </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-8">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Etat</th>
                        <th>Article</th>
                        <th>Prix unitaire</th>
                        <th>Quantite</th>
                        <th>Prix total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for contenu in liste.contenus %}
                    <tr>
                        <td>
                            {{ include('contenu/_etat_form.html.twig') }}
                        </td>
                        <td>{{ contenu.article.libelle }}</td>
                        <td>{{ contenu.article.prix }}€</td>
                        <td>{{ contenu.quantite }}</td>
                        <td>{{ contenu.article.prix * contenu.quantite }}€</td>
                        <td class="d-flex flex-row justify-content-around">
                            <a href="{{ path('app_contenu_edit', {'id': contenu.id, 'liste': liste.id}) }}"><button class="btn btn-outline-primary"><i class="fa-solid fa-pen"></i></button></a>
                            {{ include('contenu/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4 d-flex justify-content-between flex-column">
            <div class="row">
                {{form_start(form)}}
                <div class="form-control">
                    <div class="col">
                        {{form_label(form.article)}}
                        {{form_widget(form.article)}}
                    </div>
                    <div class="col">
                        {{form_label(form.quantite)}}
                        {{form_widget(form.quantite)}}
                    </div>
                    <div class="col">
                        {{form_widget(form.submit)}}
                    </div>
                </div>
                {{form_end(form)}}
            </div>
            <div class="row">
                <p class="text-center">Etat financier : <span class="badge bg-dark">{{ coutAchete }}/{{ coutTotal }}€</span></p>
            </div>
        </div>
    </div>
    
    
        
    
    <div class="row mt-4">
        <div class="col"><a href="{{ path('app_liste_edit', {'id': liste.id}) }}"><button class="w-100 btn btn-warning">Modifier la liste</button></a></div>
        <div class="col">{{ include('liste/_delete_form.html.twig') }}</div>
        <div class="col"><a href="{{ path('liste.index') }}"><button class="btn btn-light w-100">Retour aux listes</button></a></div>
    </div>
{% endblock %}
