{% extends 'base.html.twig' %}

{% block title %}Kreolist - Accueil{% endblock %}

{% block body %}
<h1 class="mt-4">Accueil</h1>
<h4>Connexion à votre Espace Kreolist</h4>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    
{% endblock %}