{% extends 'base.html.twig' %}

{% block title %}Kreolist - Admin{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-4">Produits</h1>
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Libelle</th>
                            <th>Prix</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.libelle }}</td>
                            <td>{{ article.prix }}€</td>
                            <td>
                                <a href="{{ path('app_article_show', {'id': article.id}) }}"><button class="btn btn-outline-primary"><i class="fa-solid fa-eye"></i></button></a>
                                <a href="{{ path('app_article_edit', {'id': article.id}) }}"><button class="btn btn-outline-warning"><i class="fa-solid fa-pen"></i></button></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun produit trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        
                <a href="{{ path('app_article_new') }}" class="btn btn-primary mt-4">Ajouter un produit</a>
        </div>
        <div class="col">
            <h1 class="mt-4">Catégories</h1>
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td>{{ categorie.id }}</td>
                            <td>{{ categorie.nom }}</td>
                            <td>
                                <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}"><button class="btn btn-outline-primary"><i class="fa-solid fa-eye"></i></button></a>
                                <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}"><button class="btn btn-outline-warning"><i class="fa-solid fa-pen"></i></button></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Aucune catégorie trouvée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('app_categorie_new') }}" class="btn btn-primary mt-4">Ajouter une catégorie</a>
        </div>
    </div>
</div>
    
{% endblock %}