<form method="post" action="{{ path('app_contenu_delete', {'id': contenu.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article de votre liste ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contenu.id) }}">
    <button class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
</form>
