<form method="post" action="{{ path('app_contenu_changeetat', {'id': contenu.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('switch' ~ contenu.id) }}">
    {% if contenu.achete == 0 %}
        <button class="btn btn-danger"><i class="fa-solid fa-xmark"></i></button>
    {% else %}
        <button class="btn btn-success"><i class="fa-solid fa-check"></i></button>
    {% endif %}
</form>