{% extends 'base.html.twig' %}

{% block title %}Modifier le contenu{% endblock %}

{% block body %}
    <h1 class="mt-4">Modifier le contenu</h1>

    {{ include('contenu/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_liste_show', {id: contenu.liste.id}) }}"><button class="btn btn-light mt-4 mb-4">Retour à la liste</button></a>

    {{ include('contenu/_delete_form.html.twig') }}
{% endblock %}
