{% extends 'base.html.twig' %}

{% block title %}Contenus{% endblock %}

{% block body %}
    <h1>Contenus</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contenu in contenus %}
            <tr>
                <td>{{ contenu.id }}</td>
                <td>{{ contenu.quantite }}</td>
                <td>
                    <a href="{{ path('app_contenu_show', {'id': contenu.id}) }}">Voir</a>
                    <a href="{{ path('app_contenu_edit', {'id': contenu.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contenu_new') }}">Ajouter une entrée</a>
{% endblock %}
