{% extends 'base.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block body %}
    <h1 class="mt-4">Contenu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contenu.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ contenu.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contenu_index') }}">back to list</a>

    <a href="{{ path('app_contenu_edit', {'id': contenu.id}) }}">edit</a>

    {{ include('contenu/_delete_form.html.twig') }}
{% endblock %}
