{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1 class="mt-4">Modifier la catégorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('admin') }}"><button class="mt-4 btn btn-light">Retour Admin</button></a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
