{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <h1 class="mt-4">Créer une nouvelle catégorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('admin') }}"><button class="mt-4 btn btn-light">Retour Admin</button></a>
{% endblock %}
