{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <h1 class="mt-4">Catégorie</h1>

    <table class="table mt-4">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin') }}"><button class="mt-4 btn btn-light">Retour Admin</button></a>

    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}"><button class="mt-4 btn btn-warning">Modifier</button></a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
