{% extends 'base.html.twig' %}

{% block title %}Modifier article{% endblock %}

{% block body %}
    <h1 class="mt-4">Modifier les propriétés d'un article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('admin') }}"><button class="btn btn-light mt-4">Retour Admin</button></a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
