{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1 class="mt-4">Créer un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('admin') }}"><button class="mt-4 btn btn-light">Retour Admin</button></a>
{% endblock %}
