{% extends 'base.html.twig' %}

{% block title %}Infos article{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-4">Infos article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ article.libelle }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ article.prix }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ article.categorie }}</td>
        </tbody>
    </table>

    <a href="{{ path('admin') }}"><button class="mt-4 btn btn-light">Retour Admin</button></a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}"><button class="mt-4 btn btn-warning"">Modifier</button></a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
